<h1>Index des moussaillons</h1>
 
<table>
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th>Bio</th>
  </tr>
 
  <% @moussaillons.each do |moussaillon| %>
    <tr>
      <td><%= moussaillon.nom %></td>
      <td><%= moussaillon.email %></td>
      <td><%= moussaillon.bio %></td>
      <td><%= link_to 'Montrer le profil', moussaillon_path(moussaillon) %></td>
      <td><%= link_to 'Editer le profil', edit_moussaillon_path(moussaillon) %></td>
      <td><%= link_to 'Destroy', moussaillon_path(moussaillon),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p> <%= link_to("Ajouter un nouveau moussaillon", new_moussaillon_path) %> </p>