<h2><%= @moussaillon.name %></h2>
<p><%= @moussaillon.bio %></p>
<p><%= @moussaillon.email %></p>

<p><%= link_to("Revenir à la liste des moussaillons",moussaillon_path)%></p>
<p><%= link_to("Editer le profil",edit_moussaillon_path)%></p>